#tag-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    padding: 0 24px;
    padding-bottom: 20px;
}

.card .thumbnail{
    aspect-ratio: 16/9;
    border-radius: 12px;
    margin-bottom: 12px;
    overflow: hidden;
}


.card .chanel-img{
    width: 44px;
    height: 36px;
    display: flex;
    overflow: hidden;
}

.card .chanel-img img{
    border-radius: 10rem;
}

.card .about {
    display: grid;
    grid-template-columns:44px auto 40px ;
   
}

.card .title{
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.2rem;
    color: #0f0f0f;
    margin-bottom: 4px;
}

.card .chanel{
    font-size: 1.4rem;
    line-height: 2rem;
    color: #606060;
}

.card .view{
    font-size: 1.4rem;
    line-height: 2rem;
    color: #606060;
}